{%extends "template.html"%}
{%block title%}Home Page{%endblock%}

{%block content%}
  <h1>Data Produk</h1>
    <a href="" class="btn btn-success">Add Data</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama</th>
        <th scope="col">Keterangan</th>
        <th scope="col">Harga</th>
        <th scope="col">Jumlah</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>
            <div class="row">
                <div class="col">
                    <a href="" class="btn btn-warning">Edit</a>
                </div>
                <div class="col">
                    <a href="" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
{%endblock%}